<!--<form id = 'login' action={%url 'login' %} method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
	<br>
	<input type="submit" value="login" class = "submit">
</form>
-->
<html>
  <head>
    <style>
      .label {
        display: inline-block;
        width: 200px;
      }
      .form-group {
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>Login</h1>
    <form id = 'login' action={%url 'login' %} method="post" enctype="multipart/form-data" >
		<div class="form-group">
			<label class="label">Username: </label>
			<input type="username" id="username" name="username" required />
		</div>
		<br>
		<div class="form-group">
			<label class="label">Password: </label>
			<input type="password" id="password" name="password" required />
		</div>
		<br>
		<div><input type="submit" value="Submit" /></div>
    </form>

    <script>
    </script>
  </body>
</html>